body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#inputForm {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#inputForm label {
    display: block;
    margin-bottom: 10px;
}

#inputForm input[type="text"] {
    width: 100%;
    margin-left: -10px;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#inputForm button, #inputForm input[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#inputForm button:hover, #inputForm input[type="submit"]:hover {
    background-color: #0056b3;
}

#achievementList {
    margin-top: 20px;
    padding-left: 0;
    list-style-type: none;
    border-top: 1px solid #ccc;
}

#achievementList li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}